<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>routesharing_new_3.0_merge</display-name>
  <welcome-file-list>
    <welcome-file>condivisione-passaggi.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Cordiget</display-name>
    <servlet-name>Cordiget</servlet-name>
    <servlet-class>org.route.web.Cordiget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cordiget</servlet-name>
    <url-pattern>/selectCordiget.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Searchpartner</display-name>
    <servlet-name>Searchpartner</servlet-name>
    <servlet-class>org.route.web.Searchpartner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchpartner</servlet-name>
    <url-pattern>/selectSearchpartner.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mailsend</display-name>
    <servlet-name>Mailsend</servlet-name>
    <servlet-class>org.route.web.Mailsend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mailsend</servlet-name>
    <url-pattern>/selectMailsend.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Clearuser</display-name>
    <servlet-name>Clearuser</servlet-name>
    <servlet-class>org.route.web.Clearuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clearuser</servlet-name>
    <url-pattern>/selectClearuser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cordioncetrip</display-name>
    <servlet-name>Cordioncetrip</servlet-name>
    <servlet-class>org.route.web.Cordioncetrip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cordioncetrip</servlet-name>
    <url-pattern>/selectCordioncetrip.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>org.route.web.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/selectEdit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sendtofriend</display-name>
    <servlet-name>Sendtofriend</servlet-name>
    <servlet-class>org.route.web.Sendtofriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sendtofriend</servlet-name>
    <url-pattern>/selectSendtofriend.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Searchpartnerlg</display-name>
    <servlet-name>Searchpartnerlg</servlet-name>
    <servlet-class>org.route.web.Searchpartnerlg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchpartnerlg</servlet-name>
    <url-pattern>/selectSearchpartnerlg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Clearuserlt</display-name>
    <servlet-name>Clearuserlt</servlet-name>
    <servlet-class>org.route.web.Clearuserlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clearuserlt</servlet-name>
    <url-pattern>/selectClearuserlt.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkpassword</display-name>
    <servlet-name>Checkpassword</servlet-name>
    <servlet-class>org.route.web.Checkpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkpassword</servlet-name>
    <url-pattern>/selectCheckpassword.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Timerscheduling</display-name>
    <servlet-name>Timerscheduling</servlet-name>
    <servlet-class>org.route.web.Timerscheduling</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Timerscheduling</servlet-name>
    <url-pattern>/Timerscheduling</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tmerstoschedule</display-name>
    <servlet-name>Tmerstoschedule</servlet-name>
    <servlet-class>org.route.web.Tmerstoschedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tmerstoschedule</servlet-name>
    <url-pattern>/Tmerstoschedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Startchecking</display-name>
    <servlet-name>Startchecking</servlet-name>
    <servlet-class>org.route.web.Startchecking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Startchecking</servlet-name>
    <url-pattern>/Startchecking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Counter</display-name>
    <servlet-name>Counter</servlet-name>
    <servlet-class>org.route.web.Counter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Counter</servlet-name>
    <url-pattern>/Counter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contatoreip</display-name>
    <servlet-name>Contatoreip</servlet-name>
    <servlet-class>org.route.web.Contatoreip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contatoreip</servlet-name>
    <url-pattern>/Contatoreip</url-pattern>
  </servlet-mapping>
</web-app>